:root {
    --primary-color: #025595; 
    --scondary-color: #d7e6ea;
    --text-color: #222222;
    --text-opacity-color: #22222280;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    font-family: "inter", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #ffffff;
}
h1 {
    font-size: clamp(2.4rem, 4vw, 4.8rem);
}
p {
    font-size: clamp(1.4rem, 2vw, 1.6rem);
}
ul {
    list-style: none;
}
button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}
a {
    border: none;
    text-decoration: none;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer {
    padding: 94px 70px;
}
@media screen and (max-width:992px) {
    .mainContainer{
        padding: 64px 20px;
    }
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
@media screen and (min-width:1920px) {
    html {
        font-size: 75%;
    }
}
@media screen and (min-width:1200px )  and (  max-width:1919px) {
    html {
        font-size: 56.25%;
    }
}
@media screen and (min-width:992px) and (max-width:1200px) {
    html {
        font-size: 50%;
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    html {
        font-size: 43.75%;
    }
}
@media screen and (min-width:576px) and (max-width:768px) {
    html {
        font-size: 37.5%;
    }
}
@media screen and (min-width:480px) and (max-width:576px) {
    html {
        font-size: 31.25%;
    }
}



